## 판다스 데이터 구조

### 시리즈

In [1]:
# 라이브러리 불러들이기
import pandas as pd

In [6]:
sd1 = pd.Series(['Doc', 'Cat', 'Tiger', 'Lion', 'Monkey'], 
                index = ['00', '11', '22', '33', '44'])

sd1

00       Doc
11       Cat
22     Tiger
33      Lion
44    Monkey
dtype: object

#### 딕셔너리 -> 시리즈로

In [7]:
dict_data = {'a' : 1, 'b' : 2, 'c' : 3}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [10]:
sd2 = pd.Series(dict_data)
sd2

a    1
b    2
c    3
dtype: int64

In [11]:
type(sd2)

pandas.core.series.Series

### 리스트 -> 시리즈로

In [12]:
list_data = ['Dog', 'Cat', 'Tiger']

sd3 = pd.Series(list_data)
sd3

0      Dog
1      Cat
2    Tiger
dtype: object

In [13]:
type(sd3)

pandas.core.series.Series

### 튜플 -> 시리즈로

In [14]:
# '이순신', '1991-03-15', '남자'
# 위 데이터를 튜플로 만들어 주세요...

tup_data = ('이순신', '1991-03-15', '남자')
tup_data

('이순신', '1991-03-15', '남자')

In [17]:
col_name = ["이름", "생년월일", "성별"]

sd4 = pd.Series(tup_data, 
                index = col_name)
sd4

이름             이순신
생년월일    1991-03-15
성별              남자
dtype: object

## 데이터프레임 만들기

### 딕셔너리 -> 데이터프레임으로

In [18]:
# 동물 : 'Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'
# 나이 : 7, 9, 2, 3, 1
# 위에 동물과 나이를 하나의 딕셔너리로 만들어 주세요..
dict_data = {'동물' : ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'],
             '나이' : [7, 9, 2, 3, 1]}
dict_data

{'동물': ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], '나이': [7, 9, 2, 3, 1]}

In [21]:
# 데이터프레임으로 만들기
df1 = pd.DataFrame(dict_data)
df1
type(df1)

pandas.core.frame.DataFrame

### 리스트 -> 데이터프레임으로

In [22]:
list_data = [['Dog', 7], 
             ['Cat', 9], 
             ['Tiger', 2], 
             ['Lion', 3], 
             ['Monkey', 1]]
list_data

[['Dog', 7], ['Cat', 9], ['Tiger', 2], ['Lion', 3], ['Monkey', 1]]

In [27]:
# 데이터프레임으로 만들기
df2 = pd.DataFrame(list_data,
                   columns = ['동물', '나이'])
print(df2)

print(type(df2))

print(df2.dtypes)

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1
<class 'pandas.core.frame.DataFrame'>
동물    object
나이     int64
dtype: object

### 비어 있는 데이터프레임 만들기

In [29]:
df_null = pd.DataFrame()
df_null

Empty DataFrame
Columns: []
Index: []

In [31]:
# 컬럼(변수) 만들기
df_null["동물"] = "Dog"
df_null

Empty DataFrame
Columns: [동물]
Index: []